.env
key.json

project-33b299d4-5c8b-49ce-a85-87aac5c28eed.json
notes
.python-version
hotel_reservation.egg-info
Jenkinsfile
uv.lock
mlruns/
notebook/
keys/
logs/
archive/
ALL+MATERIALS+-+1
.venv
.mypy_cache
__pycache__
